@keyframes dropdown {
	0% {
		opacity: 0;
		transform: translateY(-100%);
		display: none;
	}
	50% {
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes firstItemHover {
	from {
		opacity: 0.5;
		transform: scale(0.87);
	}
	to {
		opacity: 1;
		left: 0.1%;
		transform: scale(1);
	}
}

@keyframes itemHover {
	from {
		opacity: 0.5;
		transform: scale(0.87);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes lastItemHover {
	from {
		opacity: 0.5;
		left: unset;
		right: -25%;
		transform: scale(0.87);
	}
	to {
		opacity: 1;
		left: unset;
		right: 0.25%;
		transform: scale(1);
	}
}
