@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	color: white;
	font-family: 'Lato', sans-serif;
	background-color: #181a1c;
	font-size: 18px;
	line-height: 1.6;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

div,
img,
button {
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

@media only screen and (max-width: 1600px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (max-width: 992px) {
	body {
		font-size: 15px;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 375px) {
	body {
		font-size: 13px;
	}
}
