nav {
	display: flex;
	max-width: 100vw;
	background-color: #181a1c;
	padding: 1em 5em;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	box-sizing: border-box;
	z-index: 3;
	top: 0;
}

.profile-wrap {
	display: flex;
	align-items: center;
	gap: 7px;
	position: relative;
	cursor: pointer;
}

.profile-wrap img {
	width: 40px;
	border-radius: 50%;
}

.dropdown-wrap {
	display: none;
	padding: 15px;
	position: absolute;
	top: 35px;
	right: -25px;
}

.profile-wrap:hover .dropdown-wrap {
	display: block;
}

@media only screen and (max-width: 1200px) {
	nav {
		padding: 1em 4.3em;
	}
}

@media only screen and (max-width: 992px) {
	nav {
		padding: 1em 3.5em;
	}
}

@media only screen and (max-width: 768px) {
	nav {
		padding: 1em 2.3em;
	}

	.profile-wrap {
		gap: 3px;
	}

	.profile-wrap img {
		width: 32px;
		border-radius: 50%;
	}

	.dropdown-wrap {
		top: 28px;
	}
}

@media only screen and (max-width: 576px) {
	nav {
		padding: 1em 1.8em;
	}

	.dropdown-wrap {
		padding: 10px;
		right: -10px;
	}
}

@media only screen and (max-width: 414px) {
	nav {
		padding: 1em 1.4em;
	}
}

@media only screen and (max-width: 375px) {
	nav {
		padding: 1em 1.1111em;
	}
}
