.back-to-top-btn {
	font-size: 1em;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #0f1e93;
	color: #fff;
	padding: 7px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	z-index: 10;
}

@media only screen and (max-width: 1200px) {
	.back-to-top-btn {
		bottom: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.back-to-top-btn {
		bottom: 90px;
	}
}
