.movie-series {
	margin: 0 auto;
	max-width: 1000px;
}

.menu-season {
	font-size: 1.2em;
	font-weight: 700;
	gap: 20px;
	margin-top: 20px;
	padding: 5px;
	background-color: #424242;
	border-radius: 5px;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 5em;
	z-index: 1;
}

.menu-season span {
	font-weight: bold;
	margin-right: 10px;
	color: #fff;
}

.menu-season a {
	font-size: 1em;
}

.menu-season a.active {
	text-decoration: underline;
	color: black;
	transform: translateY(-3px);
}

.menu-season a:hover {
	color: grey;
}

@media only screen and (max-width: 576px) {
	.menu-season a:hover {
		color: unset;
	}
}
