.movie-series {
	margin: 0 auto;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movie-series button.recommend-nav-btn {
	font-size: 1.2em;
	font-weight: 700;
	border: none;
	color: white;
	border-radius: 9px;
	background-color: #0367db;
	padding: 0.5em 1.7em;
	margin: 25px 0 10px;
	cursor: pointer;
	transition: 0.3s;
}

.movie-series button.recommend-nav-btn:hover {
	background-color: #024db7;
}

.movie-series button.recommend-nav-btn:active {
	transform: scale(0.95);
}

.movie-series .carousel-container {
	margin-top: 50px;
}

.movie-series section:last-child {
	padding: 0;
}

.menu-season {
	font-size: 1.2em;
	font-weight: 700;
	gap: 20px;
	padding: 5px;
	background-color: #424242;
	border-radius: 5px;
	position: sticky;
	bottom: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	max-width: 1000px;
	margin-top: 20px;
	z-index: 1;
	width: 100%;
}

.menu-season span {
	font-weight: bold;
	margin-right: 10px;
	color: #fff;
}

.menu-season a {
	font-size: 1em;
}

.menu-season a.active {
	text-decoration: underline;
	color: black;
	transform: translateY(-3px);
}

.menu-season a:hover {
	color: grey;
}

@media only screen and (max-width: 1064px) {
	.movie-series section:last-child {
		padding: 0 25px;
	}
}

@media only screen and (max-width: 576px) {
	.movie-series {
		margin: 0 auto;
		max-width: 1000px;
	}
	.menu-season a:hover {
		color: unset;
	}
}
